html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700,800,900|Quicksand:400,500,600,700,800,900")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-20 overflow-hidden")
                h4(class="font-heading mb-5 font-semibold text-4xl") Choose Your Ideal Tutor
                div(class="container px-4 mx-auto")
                    div(class="md:max-w-xl mx-auto text-center mb-12")
                        p(class="text-base text-gray-500 font-medium") Select from our range of expert tutors to find the right match for your learning needs. Discover the options below and book the perfect tutor to help you achieve your goals.
                    div(class="flex flex-wrap -m-3")
                        div(class="w-full p-3")
                            div(class="p-6 h-full bg-white border border-slate-200 rounded-xl")
                                div(class="flex flex-wrap items-center -m-8")
                                    div(class="w-full md:flex-1 p-8")
                                        div(class="md:max-w-xl pl-4")
                                            h2(class="font-heading mb-8 text-5xl font-bold") Standard Tutor
                                            div(class="flex flex-wrap -m-2.5")
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Personalised Instruction: Tailored lessons based on individual learning needs and goals.
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Flexible Scheduling: Book sessions that fit your schedule, including evenings and weekends.
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Broad Subject Range: Access to tutors skilled in a variety of core subjects.
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Basic Learning Materials: Standard resources and materials provided to support learning.
                                    div(class="w-full md:w-auto p-8")
                                        div(class="p-6 md:max-w-xs text-center bg-white border border-slate-200 rounded-xl p-1.5")
                                            div(class="mb-1")                         
                                            |                       
                                            h3(class="font-heading font-semibold text-5xl") $59.95
                                            div(class="w-auto mb-4")
                                                a(href="#", class="group relative flex justify-center w-full text-center")
                                                    span(class="absolute top-1 left-1 w-full h-full bg-darksky-500 group-hover:bg-darksky-600 group-focus:bg-darksky-700 transition duration-200")
                                            span(class="text-gray-500 font-medium text-4xl") per hour
                        div(class="w-full p-3")
                            div(class="p-6 h-full bg-white border border-slate-200 rounded-xl")
                                div(class="flex flex-wrap items-center -m-8")
                                    div(class="w-full md:flex-1 p-8")
                                        div(class="md:max-w-xl pl-4")
                                            h2(class="font-heading mb-8 text-5xl font-bold") Specialist Tutor
                                            div(class="flex flex-wrap -m-2.5")
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Expert Instruction: Advanced tutoring with highly qualified specialists in their field.
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Priority Scheduling: Higher availability with flexible and priority booking options.
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Advanced Subject Coverage: Access to tutors with expertise in specialised or advanced subjects
                                                div(class="w-1/2 p-2.5")
                                                    li(class="flex items-center")
                                                        div(class="mr-3")
                                                            div(class="relative inline-flex")
                                                                div(class="relative z-10 flex items-center justify-center w-8 h-8 text-white bg-darksky-500 border border-darksky-900 rounded-full")
                                                                    svg(width="8", height="6", viewbox="0 0 8 6", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                        path(d="M7.35497 0.605052C7.30849 0.558188 7.25319 0.520991 7.19226 0.495607C7.13133 0.470222 7.06598 0.457153 6.99997 0.457153C6.93397 0.457153 6.86862 0.470222 6.80769 0.495607C6.74676 0.520991 6.69146 0.558188 6.64498 0.605052L2.91998 4.33505L1.35497 2.76505C1.30671 2.71843 1.24974 2.68178 1.18732 2.65717C1.12489 2.63257 1.05823 2.62051 0.991136 2.62167C0.924046 2.62283 0.857841 2.63719 0.796302 2.66394C0.734763 2.69069 0.679094 2.72929 0.632475 2.77755C0.585856 2.82581 0.549199 2.88278 0.524597 2.94521C0.499995 3.00764 0.487929 3.0743 0.48909 3.14139C0.490251 3.20848 0.504615 3.27469 0.531362 3.33623C0.558108 3.39776 0.596714 3.45343 0.644975 3.50005L2.56498 5.42005C2.61146 5.46692 2.66676 5.50411 2.72769 5.5295C2.78862 5.55488 2.85397 5.56795 2.91998 5.56795C2.98598 5.56795 3.05133 5.55488 3.11226 5.5295C3.17319 5.50411 3.22849 5.46692 3.27498 5.42005L7.35497 1.34005C7.40573 1.29323 7.44623 1.23641 7.47393 1.17316C7.50164 1.10991 7.51594 1.0416 7.51594 0.972553C7.51594 0.903502 7.50164 0.835199 7.47393 0.771949C7.44623 0.7087 7.40573 0.651874 7.35497 0.605052Z", fill="currentColor")
                                                                span(class="absolute top-1 left-1 w-full h-full bg-darksky-200 rounded-full transition duration-200")
                                                        p(class="text-base text-gray-500 font-medium") Enhanced Learning Materials: Comprehensive and customised resources tailored to advanced learning needs.
                                    div(class="w-full md:w-auto p-8")
                                        div(class="p-6 md:max-w-xs text-center bg-white border border-slate-200 rounded-xl")
                                            h3(class="font-heading mb-6 font-semibold text-5xl") $79.95
                                            span(class="text-gray-500 font-medium text-4xl") per hour
